<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/design/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <h2>Background</h2>
    <p>Sadly, children nowadays are growing up with unprecedented access to the internet and online platforms. While the internet offers a wealth of educational resources and opportunities, it also poses risks such as exposure to inappropriate content, online predators, and cyberbullying. Their parents often struggle to balance, granting their children the freedom to explore digital spaces while ensuring their safety.</p>
</body>
</html>