<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/design/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="main-content">
        <p class="p_index">Before you register... are you an...</p>
        <div class="link-container">
            <a href="{{ url_for('register') }}">Adult</a>
            <p>or</p>
            <a href="{{ url_for('register') }}">Child</a>
        </div>
    </div>
</body>
</html>