<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="D:\Menura\Personal\Education\University\BSc (Honours) Computer Security\(Y3-S1) Computing Individual Project\Tilsyn\design\main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Children's Footprint Tracker</h1>
    <p>Monitor your children's online activity by registering and logging in.</p>
    <a href="{{ url_for('register') }}">Register</a> |
    <a href="{{ url_for('login') }}">Login</a>
</body>
</html>